/* variables */

/* colors */
$color-primary: #ff781d;
$color-primary-highlight: #ff6904;

$color-bgdark-text-primary: #ffffff;
$color-bgdark-text-secondary: #f9f9f9;
$color-bgdark-text-tertiary: #bfbfbf;
$color-bgdark-bg-primary: #000000;
$color-bgdark-bg-secondary: #191919;
$color-bgdark-bg-tertiary: #282828;

$color-bglight-text-primary: #282828;
$color-bglight-text-secondary: #3c3c3c;
$color-bglight-text-tertiary: #a2a1a1;
$color-bglight-bg-primary: #ffffff;
$color-bglight-bg-secondary: #fcfcfc;
$color-bglight-bg-tertiary: #ffffff;

$color-red: #cc0000;
$color-red-hover: #ff0000;
$color-green: #1db954;
$color-green-hover: #1ed760;


/* font-size */
$font-size-title-large: 3rem;
$font-size-title-medium: 2rem;

$font-size-content-large: 1.5rem;
$font-size-content-medium: 1rem;
$font-size-content-intermediate: 0.75rem;
$font-size-content-small: 0.625rem;


/* other sizes */
$text-central-dot-size: 0.1875rem;
$text-central-dot-margin: 0.4375rem;