@import "src/assets/scss/config-styles";


.root{
	color: $color-red;
}

.icon{
	font-size: 2.5rem;
	font-weight: normal;
	padding: 1rem;
}

@include media(">560px"){
	.root{
		@include flexbox(row, center, center);
	}
}
@include media("<=560px"){
	.root{
		@include flexbox(column, center, center);
	}
	.title{
		padding-bottom: 0.5rem;
	}
}